/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Menempatkan logo di kiri */
    border-bottom: 2px solid #ccc;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 15px;
    color: #323232;
    text-decoration: none;
    font-weight: bold;
}

.login-button {
    background-color: #323232;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

/* Centered BLACKPINK heading */
.center-heading {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Banner Image styling */
.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* Ensures content stays within bounds */
    width: 50%;
    height: auto;
    max-width: 1280px;  /* Limit the maximum width */
    margin: 0 auto; /* Center the image */
    border-radius: 15px; /* Apply border-radius */
    margin-top: 30px;
}

.banner-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* Main content styling */
.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left; /* Align paragraphs to the left */
}

.content p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #292929; /* Background footer hitam */
    color: #fff; /* Warna teks putih */
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 50px; /* Add space between content and footer */
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.footer-info p {
    margin: 5px 0;
}

.user-menu {
    position: relative;
  }

  .user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .user-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    margin-right: 10px;
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #292929;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 150px;
    z-index: 1000;
   font-family: 'Lato', sans-serif;
  }

  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .dropdown ul li {
    border-bottom: 1px solid #f0f0f0;
  }

  .dropdown ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

  .dropdown ul li a:hover {
    background-color: #000;
  }

  .dropdown ul li:last-child {
    border-bottom: none;
  }